body[arco-theme="dark"][skin-name="default"]{
  --primary-1: var(--gold-1);
  --primary-2: var(--gold-2);
  --primary-3: var(--gold-3);
  --primary-4: var(--gold-4);
  --primary-5: var(--gold-5);
  --primary-6: var(--gold-6);
  --primary-7: var(--gold-7);
  --primary-8: var(--gold-8);
  --primary-9: var(--gold-9);
  --primary-10: var(--gold-10);
}
body[skin-name="default"]{
  --primary-1: var(--blue-1);
  --primary-2: var(--blue-2);
  --primary-3: var(--blue-3);
  --primary-4: var(--blue-4);
  --primary-5: var(--blue-5);
  --primary-6: var(--blue-6);
  --primary-7: var(--blue-7);
  --primary-8: var(--blue-8);
  --primary-9: var(--blue-9);
  --primary-10: var(--blue-10);
}

*:focus-visible {
  outline: none;
}

* {
  user-select: none;
}

a {
  color: var(--color-text-2);
}

html {
  overflow: hidden;
}

body {
  color: var(--color-text-2);
  -webkit-app-region: drag;
  height: 100vh;
  padding: 0;
  margin: 0;
}

button,
input,
a {
  -webkit-app-region: no-drag;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-1);
}

#__qiankun_microapp_wrapper_for_vue_app__ {
  height: 100%;
}
